ipython          # Better interactive python shell

Django           # Django webframework
psycopg2         # Postgres database adapter
python-memcached # Memcache client library

vobject          # Ical generation
ReportLab        # PDF generation

django-compress  # CSS and JS compression
south            # Database migrations

BeautifulSoup    # Web scraping of data
