ipython          # Better interactive python shell

Django >= 1.0    # Django webframework
psycopg2         # Postgres database adapter
python-memcached # Memcache client library

vobject          # Ical generation
ReportLab        # PDF generation

south >= 0.7     # Database migrations
lxml             # Web scraping of data
sphinx           # To build docs

#django-compress  # CSS and JS compression
# Use github version to get COMPRESS_VERSION_REMOVE_OLD support
-e  git://github.com/bryanchow/django-compress.git#egg=compress
