-e git://github.com/pelme/django-compress.git#egg=compress
-e hg+http://bitbucket.org/andrewgodwin/south/@stableish#egg=south
-e svn+http://code.djangoproject.com/svn/django/tags/releases/1.1#egg=django
