{% extends "base.html" %}

{% block title %}
    List of all courses - {{ block.super }}
{% endblock %}

{% block hd %}
    <h1>All courses during {{ semester.get_type_display }} {{ semester.year }} semester</h1>
{% endblock %}

{% block bd %}
    <form action="." method="post">
        <ul>
            {% for course in course_list %}
                <li class="{% cycle even,odd %} {{ course.name }}"{% ifchanged course.name.0 %} id="{{ course.name.0 }}"{% endifchanged %}>
                    <input type="checkbox" name="course_add" value="{{ course.name }}" id="course_{{ course.id }}" />
                    <label for="course_{{ course.id }}"><b>{{ course.name }}</b></label>
                    {{ course.full_name }}
                    {% if course.url %}
                       - <a href="{{ course.url }}">url</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <p>
            <button type="submit"><img alt="" src="{{ MEDIA_URL }}gfx/add.png" /> Add coures to schedule</button>
        </p>
    </form>
{% endblock %}
