{% extends "base.html" %}

{% block title %}
    {{ block.super }} - {{ slug }} {{ semester }} {{ year }}
{% endblock %}

{% block content %}
<h1>{{ slug }} {{ semester }} {{ year }}</h1>
<table class="schedule">
    <thead>
        <tr>
            <th class="time"></th>
            <th colspan="{{ colspan.0 }}">Monday</th>
            <th colspan="{{ colspan.1 }}">Tuesday</th>
            <th colspan="{{ colspan.2 }}">Wednesday</th>
            <th colspan="{{ colspan.3 }}">Thursday</th>
            <th colspan="{{ colspan.4 }}">Friday</th>
        </tr>
    </thead>
    <tbody>
    {% for row in table %}
        <tr class="{% cycle odd,even %}">
            {% for cells in row %}
                {% if cells %}
                    {% for c in cells %}
                        {% if not c.remove %}
                            <td colspan="{{ c.colspan|default:"1" }}" rowspan="{{ c.rowspan|default:"1" }}" {% if c.class or forloop.first %}class="{% if forloop.first %}first {% endif %}{{ c.class }}"{% endif %}>
                                {% if c.lecture %}
                                    <div class="course" title="{{ c.lecture.course.full_name }}">{{ c.lecture.course }}</div>
                                    <div class="type">{{ c.lecture.type }}</div>
                                    <div class="room">{{ c.lecture.room }}</div>
                                    {% comment %}
                                        <div class="groups">
                                            {% for g in c.lecture.groups.all %}
                                                {{ g }}{% if not forloop.last %},{% endif %}
                                             {% endfor %}
                                        </div>
                                    {% endcomment %}
                                {% endif %}
                                {% if c.time %}
                                    {{ c.time }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
</table>
<form action="{% url select_course slug %}" method="post">
    <p>
        {% for course in legend %}
            <span class="{{ course.css_class }} legend" title="{{ course.full_name }}">
                <input type="checkbox" name="course" value="{{ course.id }}" />
                {% if course.url %}
                    <a href="{{ course.url }}">{{ course }}</a>
                {% else %}
                    {{ course }}
                {% endif %}
            </span>
        {% endfor %}
    </p>
    <p>
        <input type="text" name="course" size="16"/>
        <button name="submit_add">Add</button>
        <button name="submit_remove">Remove selected</button>
        {% if request.GET.groups %}
            <a href=".">Hide group options</a>
        {% else %}
            <a href="?groups=1">Group options</a>
        {% endif %}
    </p>
</form>

{% if request.GET.groups %}
    <form action="{% url select_groups slug %}" method="post">
        {% for course,groups in courses %}
            <p class="{{ course.css_class }} legend left">
                <b>{{ course }}</b> <br />
                <span class="small">{{ course.full_name }}</span> <br />
                {{ groups.groups }}
            </p>
        {% endfor %}
        <p>
            <button>Save groups</button>
        </p>
    </form>
{% endif %}

{% endblock %}
