{% extends "base.html" %}

{% block title %}
    {{ slug }}'{% ifnotequal slug|lower|slice:"-1:" "s" %}s{% endifnotequal %} {{ semester.get_type_display }} {{ semester.year }} {{ block.super }}
{% endblock %}

{% block content %}
<h1>{{ slug }}'{% ifnotequal slug|lower|slice:"-1:" "s" %}s{% endifnotequal %}  {{ semester.get_type_display }} {{ semester.year }} schedule</h1>

<table class="schedule">
    <thead>
        <tr>
            <th class="time"></th>
            <th colspan="{{ colspan.0 }}">Monday</th>
            <th colspan="{{ colspan.1 }}">Tuesday</th>
            <th colspan="{{ colspan.2 }}">Wednesday</th>
            <th colspan="{{ colspan.3 }}">Thursday</th>
            <th colspan="{{ colspan.4 }}">Friday</th>
        </tr>
    </thead>
    <tbody>
    {% for row in table %}
        <tr class="{% cycle odd,even %}{% if forloop.last %} bottom{% endif %}">
            {% for cells in row %}
                {% if cells %}
                    {% for c in cells %}
                        {% if not c.remove %}
                            <td colspan="{{ c.colspan|default:"1" }}"
                                rowspan="{{ c.rowspan|default:"1" }}"
                                {% if c.class or forloop.first %}class="{% if forloop.first %}first {% endif %}{{ c.class }}"{% endif %}
                                {% if c.lecture %}title="{{ c.lecture.course.full_name }}"{% endif %}>

                                {% if c.lecture %}
                                    <div class="course">{{ c.lecture.course }}</div>
                                    <div class="type">{{ c.lecture.type }}</div>
                                    <div class="room">{{ c.lecture.room }}</div>
                                    {% comment %}
                                        <div class="groups">
                                            {% for g in c.lecture.groups.all %}
                                                {{ g }}{% if not forloop.last %},{% endif %}
                                             {% endfor %}
                                        </div>
                                    {% endcomment %}
                                {% endif %}
                                {% if c.time %}
                                    {{ c.time }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
</table>

<form action="{% url change-course semester.year,semester.get_type_display,slug %}" method="post">
    <div class="yui-g">
        {% for course in legend %}
            <p class="{{ course.css_class }} legend left" title="{{ course.full_name }}">
                <label>
                    <input type="checkbox" name="course" value="{{ course.id }}" />
                    {{ course }}
                </label>
                {% if course.url %}
                    <a href="{{ course.url }}"><img alt="Link" src="{{ MEDIA_URL}}link.png" /></a>
                {% endif %}
            </p>
        {% endfor %}
    </div>
    <div class="yui-g">
        <p>
            <input type="text" name="course" size="30"/>
            <button name="submit_add" type="submit"><img alt="" src="{{ MEDIA_URL }}add.png" /> Add courses</button>
            <button name="submit_remove" type="submit"><img alt="" src="{{ MEDIA_URL }}remove.png" /> Remove selected</button>
            {% if advanced %}
                <a href="{% url schedule semester.year,semester.get_type_display,slug %}">Hide advanced options</a>
            {% else %}
                <a href="{% url schedule-advanced semester.year,semester.get_type_display,slug %}">Advanced options</a>
            {% endif %}
            <br />
            (Multiple courses can be added at once by seperating to course codes with spaces)
        </p>
    </div>
</form>

{% if advanced %}
    <h2>Advanced options</h2>
    <h3>Change groups</h3>
    <form action="{% url change-groups semester.year,semester.get_type_display,slug %}" method="post">
        <div class="yui-g">
            {% for course,groups in courses %}
                <p class="{{ course.css_class }} legend left box">
                    <b>{{ course }}</b> <br />
                    <span class="small">{{ course.full_name }}</span> <br />
                    {{ groups.groups }}
                </p>
            {% endfor %}
        </div>
        <p>
            <button type="submit"><img alt="" src="{{ MEDIA_URL }}save.png" /> Save groups</button>
        </p>
    </form>
    {% if lectures %}
        <h3>Lecture list</h3>
        <form action="{% url change-lectures semester.year,semester.get_type_display,slug %}" method="post">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Course</th>
                        <th>Day</th>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Type</th>
                        <th>Groups</th>
                        <th>Lecturers</th>
                        <th>Weeks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in lectures %}
                        <tr class="{{ l.css_class }}{% if l.excluded %} excluded{% endif %}">
                            <td><input type="checkbox" name="exclude" value="{{ l.id }}"{% if l.excluded %} checked="checked"{% endif %} /></td>
                            <td>{{ l.course }}</td>
                            <td>{{ l.get_day_display }}</td>
                            <td>{{ l.get_start_time_display }}-{{ l.get_end_time_display }}</td>
                            <td class="small">{{ l.room }}</td>
                            <td class="small">{{ l.type }}</td>
                            <td class="small">{% for g in  l.sql_groups %}{{ g }}{% if not forloop.last %},{% endif %} {% endfor %}</td>
                            <td>{% for p in  l.sql_lecturers %}{{ p }}{% if not forloop.last %},{% endif %} {% endfor %}</td>
                            <td class="small">{% for w in  l.sql_weeks %}{{ w }}{% if not forloop.last %},{% endif %} {% endfor %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                <button type="submit"><img alt="" src="{{ MEDIA_URL }}hide.png" /> Hide selected lectures</button>
            </p>
        </form>
    {% endif %}
{% endif %}

{% endblock %}
