{% extends "base.html" %}

{% block title %}
    {{ block.super }} - {{ slug }} {{ semester }} {{ year }}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        $(function(){
            $('.collapse').children(':first').click(function() { $(this).parent().children(':not(:first)').toggle() }).click()

            $('select[multiple]').each(function() {
                var selected   = $(this);
                var unselected = $('<select multiple="multiple"></select>');

                selected.children().click(function() {
                    if ($(this).parent().is('[name]')) {
                        unselected.append($(this));
                    } else {
                        selected.append($(this));
                    }
                    $(this).removeAttr('selected');
                });

                unselected.children().remove();
                unselected.append(selected.children(':not(:selected)'))

                selected.children().removeAttr('selected');

                unselected.css('height', '10em');
                selected.css('height', '10em');

                unselected.css('width', '48%');
                selected.css('width', '48%');

                selected.before(unselected);

                selected.prepend($('<optgroup label="Selected"></optgroup>'));
                unselected.prepend($('<optgroup label="Unselected"></optgroup>'));

                selected.parents('form').submit(function() {
                    selected.children().attr('selected', 'selected');
                })
            });
        });
    </script>
{% endblock %}

{% block content %}
<h1>{{ slug }} {{ semester }} {{ year }}</h1>
<table class="schedule">
    <thead>
        <th class="time"></th>
        <th colspan="{{ colspan.0 }}">Mandag</th>
        <th colspan="{{ colspan.1 }}">Tirsdag</th>
        <th colspan="{{ colspan.2 }}">Onsdag</th>
        <th colspan="{{ colspan.3 }}">Torsdag</th>
        <th colspan="{{ colspan.4 }}">Fredeag</th>
    </thead>
    <tbody>
    {% for row in table %}
        <tr class="{% cycle odd,even %}">
            {% for cells in row %}
                {% if cells %}
                    {% for c in cells %}
                        {% if not c.remove %}
                            <td colspan="{{ c.colspan|default:"1" }}" rowspan="{{ c.rowspan|default:"1" }}" class="{% if forloop.first %}first {% endif %}{{ c.class }}">
                                {% if c.lecture %}
                                    <span class="course">{{ c.lecture.course }}</span>
                                    <span class="room">{{ c.lecture.room }}</span>
                                {% endif %}
                                {% if c.time %}
                                    {{ c.time }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
</table>
<p>
    {% for course,class in legend %}
        <span class="{{ class }} legend">
            {% if course.url %}
                <a href="{{ course.url }}">{{ course }}</a>
            {% else %}
                {{ course }}
            {% endif %}
        </span>
    {% endfor %}
</p>

<div class="yui-gb collapse">
    <h2>Change...</h2>
    <div class="yui-u first">
        <h3>Select courses</h3>
        <form action="." method="get">
            {{ course_form.courses.errors }}
            <p>
                {{ course_form.courses }} <br />
                <button type="submit">Save</button>
            </p>
        </form>
    </div>
    <div class="yui-u">
        <h3>Add course</h3>
        <p>
            <input type="text" />
            <button>Add</button>
        </p>
    </div>
    <div class="yui-u">
        <h3>Select parallels</h3>
        {% for course,parallels in courses %}
            <p>
                <b>{{ course }}</b>:
                {% if parallels %}
                    {% for p in parallels %}
                        {{ p }}
                    {% endfor %}
                {% else %}
                    None
                {% endif %}
            </p>
        {% endfor %}
    </div>
</div>

{% endblock %}
