{% extends "base.html" %}

{% block hd %}
    <h1>timetable generator for NTNU</h1>
{% endblock %}

{% block bd %}
    <form action="." method="post">
        <p class="large">
            Please enter a short string identifying your personal timetable, ie.
            username, IRCname, etc.
        </p>
        <p>
            <input type="text" name="slug" value="{{ request.COOKIES.last|default:"" }}" />
            <button type="submit">Start <img alt="" src="{{ MEDIA_URL }}gfx/start.png" /></button>
        </p>
        <p>
            To retrieve a timetable simply enter the same identifier you used
            last time. If the identifier you choose is in use pick another one.
        </p>
    </form>
    {% if user.is_authenticated or request.GET.stats %}
        <h2>Stats</h2>
        <p>
            <b>schedules:</b>     {{ slug_count }},
            <b>subscriptions:</b> {{ subscription_count }},
            <b>lectures:</b>      {{ lecture_count }},
            <b>courses:</b>       {{ course_count }},
            <b>exams:</b>         {{ exam_count }}
        </p>
    {% endif %}
    {% if user.is_authenticated or request.GET.todo %}
        <h2>Todo</h2>
        <pre>{% include "todo.txt" %}</pre>
    {% endif %}
{% endblock %}
