{% extends "base.html" %}

{% block hd %}
    <h1>timetable generator for NTNU</h1>
{% endblock %}

{% block bd %}
    <form action="." method="post">
        <p class="large">
            Please enter a short string identifying your personal timetable, ie.
            username, IRCname, etc.
        </p>
        <p>
            <input type="text" name="slug" value="{{ request.COOKIES.last|default:"" }}" />
            <button type="submit">Start <img alt="" src="{{ MEDIA_URL }}gfx/start.png" /></button>
        </p>
        <p>
            To retrieve a timetable simply enter the same identifier you used
            last time. If the identifier you choose is in use pick another one.
        </p>
    </form>
    <h2>Top {{ stats|length }} courses</h2>
    {% for count,name,full_name,class in stats %}
        <div title="{{ full_name }}" style="width: {% widthratio count stats.0.0 60 %}%" class="lecture{% cycle 0,1,2,3,4,5,6,7 %} bar">
            <b class="right">{{ count }}</b>
            <b>{{ name }}</b>
        </div>
    {% endfor %}
{% endblock %}
