{% extends "base.html" %}

{% block content %}
<pre>
{{ table|pprint }}
{{ lectures|pprint }}
</pre>

<table border="1">
    <thead>
    </thead>
    <tbody>
    {% for row in table %}
        <tr>
            <th>{{ forloop.counter }}</th>
            {% for cell in row %}
                {% if cell %}
                    {% for lecture in cell %}
                        <td>
                            {{ lecture }}
                        </td>
                    {% endfor %}
                {% else %}
                    <td>-</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
</table>
{{ max }}
{% endblock %}
