Sample output showing most of the data we can easily get at, note that many fields can and will be empty.

mysql> SELECT * FROM h12_timeplan WHERE larer LIKE '%#%' AND studentset LIKE '%#%' AND romnavn LIKE '%#%';
+--------------------------+--------------------+----------------------------------+-----------+-----------+----------+----------+---------+-------+-------+-------+--------------+------------------------+------------+------+
| studentset               | larer              | aktkode                          | emnenavn  | emnekode  | typekode | typenavn | dag     | start | slutt | uke   | romnavn      | romnr                  | endret     | sort |
+--------------------------+--------------------+----------------------------------+-----------+-----------+----------+----------+---------+-------+-------+-------+--------------+------------------------+------------+------+
| MTBYGG_2H___#MTING_2H___ | John Doe#Jane Doe  | 12H-TKT4122-1-1-1-3-1 1-3_Øving  | TKT4122-1 | TKT4122-1 | ØV       | Øving    | torsdag | 16:15 | 18:00 | 34-47 | B25#EL23#... | 333F-S030A#341E404#... | 2012-04-17 | 4    |
+--------------------------+--------------------+----------------------------------+-----------+-----------+----------+----------+---------+-------+-------+-------+--------------+------------------------+------------+------+

mysql> SELECT * FROM h12_fs_emne WHERE emnekode = 'TKT4122-1';
+-----------+------------+---------+
| emnekode  | emnenavn   | en_navn |
+-----------+------------+---------+
| TKT4122-1 | Mekanikk 2 | 194     |
+-----------+------------+---------+

mysql> SELECT * FROM h12_akt_studieprogram WHERE aktkode IN ('12H-TKT4122-1-1-1-3-1 1-3_Øving');
+--------+----------------------------------+-------------------+
| lopenr | aktkode                          | studieprogramkode |
+--------+----------------------------------+-------------------+
|  31851 | 12H-TKT4122-1-1-1-3-1 1-3_Øving  | MTBYGG            |
|  32403 | 12H-TKT4122-1-1-1-3-1 1-3_Øving  | MTING             |
+--------+----------------------------------+-------------------+

mysql> SELECT * FROM studieprogram WHERE studieprogram_kode IN ('MTBYGG', 'MTING');
+--------------------+------------------------------------------------------+
| studieprogram_kode | studieprogram_navn                                   |
+--------------------+------------------------------------------------------+
| MTBYGG             | Bygg- og miljøteknikk - masterstudium (5-årig)       |
| MTING              | Ingeniørvitenskap og IKT - masterstudium (5-årig)    |
+--------------------+------------------------------------------------------+

mysql> SELECT * FROM rom WHERE romkode IN ('333F-S030A','341E404');
+------------+---------+---------+---------+----------+----------------+----------------+
| romkode    | romnavn | beskriv | plasser | bygnkode | romeier        | bygnnavn       |
+------------+---------+---------+---------+----------+----------------+----------------+
| 333F-S030A | B25     | B25     |      24 | 333      | 141600 SA/SASS | Berg           |
| 341E404    | EL23    | EL23    |      24 | 341      | 141600 SA/SASS | Elektro E/F    |
+------------+---------+---------+---------+----------+----------------+----------------+

mysql> SELECT * FROM r_bygning WHERE bygnkode IN (322, 333, 341);
+----------+---------------+---------------+-----------+-----------------------------------------------------+
| bygnkode | bygnnavn      | beskr         | bygn_eier | url                                                 |
+----------+---------------+---------------+-----------+-----------------------------------------------------+
| 333      | Berg          | Berg          | 30000     | http://www.ntnu.no/kart/gloeshaugen/berg/           |
| 341      | Elektro E/F   | Elektro E/F   | 30000     | NULL                                                |
+----------+---------------+---------------+-----------+-----------------------------------------------------+
