/* Box used for selecting which groups to use for a course */
#change-groups .groupbox {
	margin-bottom: 0.5em;
	border: 1px solid #666;
	padding: 0.5em 1em;
}
#change-groups ul {
	margin: 0;
}
#change-groups li {
	list-style: none;
	white-space: nowrap;
}
#change-groups .toogle-all, #change-groups .toogle-none {
	cursor: pointer;
}
