/* Stats box on front page (needs special casing for graph) */
#stats {
	border-left: 0.2em solid #D3D7CF;
	padding: 0.2em 0;
	font-size: 93%;
}
#stats div {
	margin-bottom: 1px;
	padding: 0.1em 0.5em;
	-moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
}
#stats span {
	float: right;
}

#totals {
	width: auto;
}
#totals td {
	border: 0;
	padding: 0 1em 0.2em;
}
