[Unit]
Description=Refresh Plan materialized views
After=plan-ntnu.service
Requires=plan-ntnu.service

[Service]
Type=oneshot
ExecStart=/usr/bin/podman exec plan-ntnu /bin/manage refresh_materialized_views

[Install]
WantedBy=multi-user.target
