import os

from plan.settings.base import *


sentry_dsn = os.environ.get("SENTRY_DSN")
if sentry_dsn:
    import sentry_sdk
    from sentry_sdk.integrations.django import DjangoIntegration

    sentry_sdk.init(
        dsn=sentry_dsn,
        environment=os.environ.get("SENTRY_ENVIRONMENT", "production"),
        integrations=[DjangoIntegration()],
        traces_sample_rate=float(os.environ.get("SENTRY_TRACES_SAMPLE_RATE", "0.001")),
    )

DEBUG = False
TEMPLATE_DEBUG = DEBUG

COMPRESS_ENABLED = True
COMPRESS_STORAGE = "compressor.storage.BrotliCompressorFileStorage"

ADMINS = []
MANAGERS = ADMINS

ALLOWED_HOSTS = ["ntnu.1024.no"]
# SECURE_PROXY_SSL_HEADER = ("HTTP_X_FORWARDED_PROTOCOL", "https")

EMAIL_SUBJECT_PREFIX = "[TIMEPLAN-NTNU] "
TIMETABLE_INSTITUTION = "NTNU"

DATABASES = {
    "default": {
        "NAME": os.environ.get("PGDATABASE", "timeplan_ntnu"),
        "ENGINE": "django.db.backends.postgresql",
        "USER": os.environ.get("PGUSER", "timeplan_ntnu"),
        "PASSWORD": os.environ.get("PGPASSWORD", ""),
        "HOST": os.environ.get("PGHOST", "localhost"),
        "PORT": int(os.environ.get("PGPORT", "5432")),
        "CONN_MAX_AGE": int(os.environ.get("PGCONN_MAX_AGE", "300")),
    },
}

memcached_location = os.environ.get("MEMCACHED_LOCATION")

CACHES = {
    "default": {
        "BACKEND": "django.core.cache.backends.locmem.LocMemCache",
        "KEY_PREFIX": "ntnu",
    },
    "ical": {
        "BACKEND": "django.core.cache.backends.filebased.FileBasedCache",
        "LOCATION": os.path.join(os.environ.get("PLAN_BASE_DIR", "/var/lib/plan"), "cache", "ical"),
        "OPTIONS": {"MAX_ENTRIES": 1000000},
        "TIMEOUT": 604800,
    },
    "scraper": {
        "BACKEND": "django.core.cache.backends.filebased.FileBasedCache",
        "LOCATION": os.path.join(os.environ.get("PLAN_BASE_DIR", "/var/lib/plan"), "cache", "scraper"),
        "OPTIONS": {"MAX_ENTRIES": 50000},
        "TIMEOUT": 604800,
    },
}

if memcached_location:
    CACHES["default"] = {
        "BACKEND": "django.core.cache.backends.memcached.MemcachedCache",
        "KEY_PREFIX": os.environ.get("MEMCACHED_KEY_PREFIX", "ntnu"),
        "LOCATION": memcached_location,
    }

STATIC_ROOT = os.path.join(os.environ.get("PLAN_BASE_DIR", "/var/lib/plan"), "static")
STATIC_URL = "//ntnu.1024.no/static/"
