{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}
    {{ title }} | ntnu timetable admin
{% endblock %}

{% block branding %}
    <h1 id="site-name">ntnu timetable admin</h1>
{% endblock %}

{% block nav-global %}
{% endblock %}

{% block extrastyle %}
    <style type="text/css">
        #header {
            background-color: #333940;
            border-bottom: solid 3px #999;
        }

        #branding h1 {
            color: #fff;
        }
        .module h2, .module caption, .inline-group h2 {
            background: #ccc !important;
            color: #333940;
        }
        a.section:link, a.section:visited {
            color: #666666;
        }
        .row1 {
            background: #EEEEEC;
        }
        #django_log {
            margin-top: 10em;
        }
    </style>
{% endblock %}
