{% extends "base_site.html" %}

{% load compress %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Number of timetables" %}
{% endblock %}

{% block lang %}
{% endblock %}

{% block hd %}
  {{ block.super }}
  <h1>
    {% trans "Number of timetables over time" %}
  </h1>
{% endblock %}

{% block extrascript %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.flot.min.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <!--[if IE]><script language="javascript" type="text/javascript" src="{% static 'js/excanvas.min.js' %}"></script><![endif]-->
{% endblock %}

{% block bd %}
{% comment %}
  <div class="yui-gb">
    <div class="yui-u first">
      <h2>Fall 2008</h2>
      <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <div class="yui-u">
      <h2>Summer 2009</h2>
      <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <div class="yui-u">
      <h2>2010&hellip;</h2>
      <p>Lorem ipsum dolor sit amet...</p>
    </div>
  </div>
{% endcomment %}

  {# <h2>Timetables per semester</h2> #}
  <div id="graph" style="width: 100%; height: 25em">
  </div>

  {% compress js inline %}
    <script type="text/javascript">
      (function() {
        var data = {{ data }};
        var series = [];

        var re = /^#(([a-f0-9]{2})([a-f0-9]{2})([a-f0-9]{2})|([a-f0-9])([a-f0-9])([a-f0-9])$)/i;
        var hex = function(i) { return parseInt(i, 16) };
        function rgba(c, a) {
          c = re.exec(c);
          if (!c) return;
          if (c[1].length == 6)
            c = c.slice(2,5);
          else
            c = c.slice(5,8);
          return 'rgba(' + c.map(hex).join(',') + ',' + a + ')';
        }

        for (var i = 0; i < data.series.length; i++) {
          for (var j = 0; j < data.series[i].length; j++) {
            data.series[i][j][0] += data.first;
            data.series[i][j][0] *= 1000 * data.scale;
          }
          series.push({
            data: data.series[i],
            lines: {
              show: true,
              lineWidth: 1,
              fill: true,
              fillColor: rgba(data.fills[i], 0.3)
            },
            color: "#333"
          });
        }

        function plot() {
          $.plot($('#graph'), series, {
	    xaxis: { mode: "time" }, yaxis: { min: 0 }
          });
        };

	// Arrange callback once all async js loads are done, dom ready would
	// be to soon due to async loading of jquery etc.
        if (window.addEventListener)
          window.addEventListener('load', plot, false);
        else
          window.attachEvent('onload', plot);
      })();
    </script>
  {% endcompress %}
{% endblock %}
