{% extends "base.html" %}

{% block title %}
    {{ block.super }} - courses
{% endblock %}

{% block content %}
    <h1>{{ name_plural|capfirst }}:</h1>
    {% if objects %}
        <p>
            {% for object in objects %}
                {{ object }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
    {% else %}
        <p>No {{ name_plural }} in system</p>
    {% endif %}

    <h2>Admin:</h2>
    <form action="." method="post">
        <p>To add new {{ name_plural }} simply enter a newline seprated list of {{ name }} names</p>
        <p>
            <textarea rows="5" name="{{ name_plural }}"></textarea>
        </p>
        <p>
            <button>Add {{ name_plural }}</button>
        </p>
    </form>
{% endblock %}
