{% load i18n %}

{% if advanced or not courses %}
  <form action="{% url 'change-course' semester.year semester.slug slug %}" method="post" class="noprint">
    {% if courses %}
      <h3>{% trans "Add courses" %}</h3>
    {% endif %}
    <p>
      <span class="large">{% trans "Please enter the codes for the courses you want to attend" %}</span>
      <input id="course" type="text" name="course_add" size="46" data-autocomplete="{% url 'course-query' semester.year semester.slug %}"/>
      <button name="submit_add" type="submit"><i class="icon-plus-sign"></i> {% trans "Add course" %}</button>
    </p>
  </form>
{% endif %}
