{% if advanced or not legend %}
    <form action="{% url change-course semester.year,semester.get_type_display,slug %}" method="post" class="noprint">
        {% if legend %}
            <h2>Add courses</h2>
        {% endif %}
        <p>
            <span class="large">Please enter the codes for the courses you want to attend</span>
            <input id="course" type="text" name="course_add" size="46"/>
            <button name="submit_add" type="submit"><img alt="" src="{{ MEDIA_URL }}gfx/add.png" /> Add course</button>
        </p>
    </form>
{% endif %}
