{% load i18n %}

{% if advanced %}
    {% if courses %}
        <form method="post" action="{% url new-deadline semester.year,semester.type,slug %}#deadlines" class="noprint">
            <h2>{% trans "Add deadlines" %}</h2>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Task" %}</th>
                        <th>{% trans "Course" %}</th>
                        <th>{% trans "Due date" %}</th>
                        <th>{% trans "Time" %}</th>
                    </tr>
                </thead>
                <tbody class="plain">
                    <tr>
                        <td{% if deadline_form.errors.task %} class="error"{% endif %}>
                            {{ deadline_form.task }}
                        </td>
                        <td{% if deadline_form.errors.subscription %} class="error"{% endif %}>
                            {{ deadline_form.subscription }}
                        </td>
                        <td{% if deadline_form.errors.date %} class="error"{% endif %}>
                            {{ deadline_form.date }}
                        </td>
                        <td{% if deadline_form.errors.time %} class="error"{% endif %}>
                            {{ deadline_form.time }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                <button name="submit_add" type="submit"><span class="icon add">{% trans "Add deadline" %}</span></button>
            </p>
        </form>
    {% endif %}
{% endif %}
