{% if advanced or not courses %}
    <form action="{% url change-course semester.year,semester.get_type_display,slug %}" method="post" class="noprint">
        {% if courses %}
            <h2>Add courses</h2>
        {% endif %}
        <p>
            <span class="large">Please enter the codes for the courses you want to attend</span>
            <input id="course" type="text" name="course_add" size="46"/>
            <button name="submit_add" type="submit"><span class="icon add">Add course</span></button>
        </p>
    </form>
{% endif %}
