<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>{% block title %}schedule{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}gfx/time.png" />
    {% block extrahead %}{% endblock %}
  </head>
  <body id="doc3" class="yui-t4">
    <div id="hd">
      {% block hd %}{% endblock %}
    </div>
    <div id="bd">
      {% block bd %}{% endblock %}
    </div>
    <div id="ft" class="yui-g">
      {% block ft %}
          <div class="yui-u first">
            <p>
              All lecture times and course data have been automatically retrieved from
              <a href="http://.www.ntnu.no/">NTNU</a>.
              This data may not reflect the actual lecture times due to changes or erroneous imports.
              The service is provided as is, please ensure that the data is correct before relying on it.
            </p>
            <p>Code and design &copy; Thomas Adamcik 2008 &ndash; Built with:
                <a href="http://www.python.org/">Python</a> &bull;
                <a href="http://www.djangoproject.org">Django</a> &bull;
                <a href="http://developer.yahoo.com/yui/">Yahoo! UI Library</a> &bull;
                <a href="http://www.famfamfam.com/lab/icons/silk/">Silk icons</a> &bull;
                <a href="http://validator.w3.org/check/referer">XHTML</a>
            </p>
          </div>
          <div class="yui-u">
            <dl>
              <dt>Course list - </dt>
              <dd><a href="http://www.ntnu.no/studier/emner">http://www.ntnu.no/studier/emner</a></dd>
              <dt>Exam dates - </dt>
              <dd><a href="http://www.ntnu.no/eksamen/plan/">http://www.ntnu.no/eksamen/plan/</a></dd>
              <dt>Lecture times - </dt>
              <dd><a href="http://www.ntnu.no/studieinformasjon/timeplan">http://www.ntnu.no/studieinformasjon/timeplan</a></dd>
              <dt>Map Dragvoll - </dt>
              <dd>
                <a href="http://www.ntnu.no/kart/auditorier_dragvoll.pdf">http://www.ntnu.no/kart/auditorier_dragvoll.pdf</a>
                 - <a href="{{ MEDIA_URL }}map/auditorier_dragvoll.png">png</a>
              </dd>
              <dt>Map Gløshaugen - </dt>
              <dd>
                 <a href="http://www.ntnu.no/kart/auditorier_gloshaugen.pdf">http://www.ntnu.no/kart/auditorier_gloshaugen.pdf</a>
                 - <a href="{{ MEDIA_URL }}map/auditorier_gloshaugen.png">png</a>
              </dd>
              <dt>Find rooms - </dt>
              <dd><a href="http://www.ntnu.no/studieinformasjon/rom/">http://www.ntnu.no/studieinformasjon/rom/</a></dd>
            </dl>
          </div>
        {% endblock %}
    </div>
  </body>
</html>
