<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>{% block title %}schedule{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}gfx/time.png" />
    {% block extrahead %}{% endblock %}
  </head>
  <body id="doc3">
    <div id="hd">
      {% block hd %}{% endblock %}
    </div>
    <div id="bd">
      {% block bd %}{% endblock %}
    </div>
    <div id="ft" class="yui-g">
      <div class="yui-u first">
        <p>
          All lecture times and course data have been automatically retrieved from
          <a href="http://.www.ntnu.no/">NTNU</a>.
          The site is provided as is with no guarantees as to the correctness
          of the imported data or the service itself. - Thomas Adamcik &copy; 2008
      </div>
      <div class="yui-u">
        <dl>
          <dt>Courses A-Å - </dt>
          <dd><a href="http://www.ntnu.no/studier/emner">http://www.ntnu.no/studier/emner</a></dd>
          <dt>Exam dates - </dt>
          <dd><a href="http://www.ntnu.no/eksamen/plan/">http://www.ntnu.no/eksamen/plan/</a></dd>
          <dt>Lecture times - </dt>
          <dd><a href="http://www.ntnu.no/studieinformasjon/timeplan">http://www.ntnu.no/studieinformasjon/timeplan</a></dd>
          <dt>Map Dragvoll - </dt>
          <dd>
            <a href="http://www.ntnu.no/kart/auditorier_dragvoll.pdf" />http://www.ntnu.no/kart/auditorier_dragvoll.pdf</a>
             - <a href="{{ MEDIA_URL }}map/auditorier_dragvoll.png">png</a>
          </dd>
          <dt>Map Gløshaugen - </dt>
          <dd>
             <a href="http://www.ntnu.no/kart/auditorier_gloshaugen.pdf"/>http://www.ntnu.no/kart/auditorier_gloshaugen.pdf</a>
             - <a href="{{ MEDIA_URL }}map/auditorier_gloshaugen.png">png</a>
          </dd>
          <dt>Find rooms - </dt>
          <dd><a href="http://www.ntnu.no/studieinformasjon/rom/">http://www.ntnu.no/studieinformasjon/rom/</a></dd>
        </dl>
      </div>
    </div>
  </body>
</html>
