{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>
      {% block title %}{% endblock %}
    </title>
    {% block script %}{% endblock %}
    {% block style %}{% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
  </head>
  <body id="doc2" class="yui-t4">
    <div id="hd">
      {% block hd %}{% endblock %}
    </div>
    <div id="bd">
      {% block bd %}{% endblock %}
    </div>
    <div id="ft">
      {% block ft %}{% endblock %}
    </div>
  </body>
</html>
