{% extends "base.html" %}

{% load compress %}
{% load i18n %}
{% load static %}
{% load strip %}

{% block title %}
    {% blocktrans with INSTITUTION as institution %}
      Timetable generator for {{ institution }} students
    {% endblocktrans %}
{% endblock %}

{% block style %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/grids.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  {% endcompress %}
{% endblock %}

{% block extrahead %}
  <link rel="icon" type="image/png" href="{% static 'gfx/icons/time.png' %}" />
{% endblock %}

{% block script %}
  {% if STATIC_DOMAIN %}
    <link rel="dns-prefetch" href="//{{ STATIC_DOMAIN }}" />
  {% endif %}
  {% compress js inline %}
    {% if ANALYTICS_CODE %}
      <script type="text/javascript">
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '{{ ANALYTICS_CODE }}', 'auto', {'sampleRate': 100});
	ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
      </script>
    {% endif %}
  {% endcompress %}
  {% block extrascript %}{% endblock %}
  {% if ANALYTICS_CODE %}
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  {% endif %}
{% endblock %}

{% block hd %}
  {% include "setlang.html" %}
{% endblock %}

{% block ft %}
  <div class="yui-g">
    <div class="yui-u first">
    <p>
      {% blocktrans with INSTITUTION as institution and INSTITUTION_SITE as url %}
        All lecture times and course data have been automatically retrieved
        from <a href="{{ url }}">{{ institution }}</a>. This data may not
        reflect the actual lecture times due to changes or erroneous imports.
        The service is provided as is, please ensure that the data is correct
        before relying on it.
      {% endblocktrans %}
    </p>
    </div>
    <div class="yui-u">
    <p>
      {% blocktrans with INSTITUTION as institution and '2016' as year %}
      Code and design &copy; 2008-{{ year }} <b>Thomas Adamcik</b>.
      This site has no official affiliation with {{ institution }}.
      {% endblocktrans %}
      {% if ADMINS %}
        <a href="{% url 'frontpage' %}">{{ SITENAME }}</a>
        {% trans "is run and hosted by" %}
        {% for name, email in ADMINS %}
          <b>{{ name }}</b>{% if not forloop.last %},{% else %}.{% endif %}
        {% endfor %}

      {% endif %}
    </p>
    </div>
  </div>

  <hr />

  <p style="text-align: center" class="small">
    {% blocktrans %}
    The source code is freely available under the
    <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero General Public License</a>
    at <a href="{{ SOURCE_URL }}">{{ SOURCE_URL }}</a>.
    {% endblocktrans %}
    <br />
    <span class="small">
    {% trans "Built using:" %}
    <a href="http://www.python.org/">Python</a> &bull;
    <a href="http://www.djangoproject.com/">Django</a> &bull;
    <a href="http://developer.yahoo.com/yui/">Yahoo! UI Library</a> &bull;
    <a href="http://fontawesome.io/">Font Awesome</a> &bull;
    <a href="http://colorbrewer2.org/">ColorBrewer</a>
    </span>
  </p>

  {% if SHARE_LINKS %}
    <p id="share">
      {% for icon, name, url in SHARE_LINKS %}
          <a href="{{ url }}"><i class="{{ icon }}"></i> {{ name }}</a>
      {% endfor %}
    </p>
  {% endif %}
{% endblock %}
