{% extends "base.html" %}

{% load compress %}
{% load i18n %}
{% load static %}
{% load strip %}

{% load url from future %}

{% block title %}
    {% blocktrans with INSTITUTION as institution %}
      Timetable generator for {{ institution }} students
    {% endblocktrans %}
{% endblock %}

{% block style %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/reset-fonts-grids.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base-min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'js/jquery.autocomplete.css' %}" />
  {% endcompress %}
{% endblock %}

{% block extrahead %}
  <link rel="icon" type="image/png" href="{% static 'gfx/icons/time.png' %}" />
{% endblock %}

{% block script %}
  {% compress js inline %}
    <script type="text/javascript">
      {% if ANALYTICS_CODE %}
        var _gaq = _gaq || [];
      {% endif %}
      (function(w, d, t) {
        var s = d.getElementsByTagName(t)[0],  // Script element to insert ourselves after.
            l = w.localStorage,  // Shortcut to localStorage object.
            c = d.cookie, // copy of cookies for safe parsing.
            m; // Regex match result variable in cookie code.

        w.asyncLoad = function(src) {
          var e = d.createElement(t);
          e.async = true;
          e.src = src;
          s.parentNode.insertBefore(e, s);
        };

        {% if MIGRATE_COOKIES %}
          // TODO(adamcik): remove this cleanup code after some time.
          // Transfer last cookie to localStorage if supported and set:
          if(m = c.match(/(^|;\s*)last=([^;]+)/))
            l && l.setItem('last', m[2]);
        {% endif %}

        {% if STRIP_COOKIES %}
          // Remove all cookies that don't start with __, this should cleanup old
          // session, language, crsftoken and last timetable cookies.
          var r = /(^|;)\s*(?!__)([^\s=]+)=/g,
              e = '=;expires=Thu, 01 Jan 1970 00:00:00 GMT;';
          while(m = r.exec(c)) {
            // Browsers vary, so delete cookie with and without path.
            d.cookie = m[2]+ e;
            d.cookie = m[2]+ e + 'path=/;';
          }
        {% endif %}

        {% if ANALYTICS_CODE %}
          _gaq.push(['_setAccount', '{{ ANALYTICS_CODE }}']);
          _gaq.push(['_setSiteSpeedSampleRate', 100]);
          _gaq.push(['_trackPageview']);
          asyncLoad('{{ request.is_secure|yesno:"https://ssl,http://www" }}.google-analytics.com/ga.js');
        {% endif %}
      })(window, document, 'script');
    </script>
    {% block extrascript %}{% endblock %}
  {% endcompress %}
{% endblock %}

{% block lang %}
  {% include "setlang.html" %}
{% endblock %}

{% block ft %}
  <div class="yui-g">
    <div class="yui-u first">
    <p>
      {% blocktrans with INSTITUTION as institution and INSTITUTION_SITE as url %}
        All lecture times and course data have been automatically retrieved
        from <a href="{{ url }}">{{ institution }}</a>. This data may not
        reflect the actual lecture times due to changes or erroneous imports.
        The service is provided as is, please ensure that the data is correct
        before relying on it.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans with INSTITUTION as institution and '2012' as year %}
      Code and design &copy; 2008-{{ year }} <b>Thomas Adamcik</b>.
      This site has no official affiliation with {{ institution }}.
      {% endblocktrans %}
      {% if ADMINS %}
        <a href="{% url 'frontpage' %}">{{ SITENAME }}</a>
        {% trans "is run and hosted by" %}
        {% for name, email in ADMINS %}
          <b>{{ name }}</b>{% if not forloop.last %},{% else %}.{% endif %}
        {% endfor %}

      {% endif %}
    </p>
    </div>
    <div class="yui-u" id="links">
    <dl>
      {% for name, link in INSTITUTION_LINKS %}
        <dt>{{ name }}</dt> <dd><a href="{{ link }}">{{ link|striphttp }}</a></dd>
      {% endfor %}
    </dl>
    </div>
  </div>

  <hr />

  <p style="text-align: center" class="small">
    {% blocktrans %}
    The source code is freely available under the
    <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero General Public License</a>
    at <a href="{{ SOURCE_URL }}">{{ SOURCE_URL }}</a>.
    {% endblocktrans %}
    <br />
    <span class="small">
    {% trans "Built using:" %}
    <a href="http://www.python.org/">Python</a> &bull;
    <a href="http://www.djangoproject.org">Django</a> &bull;
    <a href="http://developer.yahoo.com/yui/">Yahoo! UI Library</a> &bull;
    <a href="http://www.jquery.com/">jQuery</a> &bull;
    <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a> &bull;
    <a href="http://colorbrewer2.org/">ColorBrewer</a>
    </span>
  </p>

  {% if SHARE_LINKS %}
    <p id="share">
      {% for icon, name, url in SHARE_LINKS %}
          <a href="{{ url }}"><i class="{{ icon }}"></i> {{ name }}</a>
      {% endfor %}
    </p>
  {% endif %}
{% endblock %}
