<form action="{% url change-course semester.year,semester.get_type_display,slug %}" method="post">
    <h2>Courses</h2>
    {% if legend %}
        <table>
            <thead>
                <tr>
                    <th style="width:  5%"></th>
                    <th style="width: 18%">Course</th>
                    <th>Name</th>
                    <th style="width: 10%">Credits</th>
                </tr>
            </thead>
            <tbody>
                {% for course in legend %}
                    <tr class="{{ course.css_class }}" title="{{ course.full_name }}">
                        <td>
                            <input type="checkbox" name="course_remove" value="{{ course.id }}" class="noprint" />
                        </td>
                        <td>
                            {% if course.url %}
                                <a href="{{ course.get_url }}">
                                    {{ course }}
                                </a>
                            {% else %}
                                {{ course }}
                            {% endif %}
                        </td>
                        <td>
                            {{ course.full_name }}
                        </td>
                        <td align="right">
                            {{ course.points|default:""|floatformat:"1" }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}


    {% if not legend or advanced %}
        <p class="noprint">
            {% if not legend %}
                <span class="large">
                    Please enter the codes for the courses you want to attend to get
                    started.
                </span>
                <span style="float: right">
            {% endif %}
            <input id="course" type="text" name="course_add" size="27"/>
            <button name="submit_add" type="submit"><img alt="" src="{{ MEDIA_URL }}gfx/add.png" /> Add courses</button>
            {% if legend %}
                <button name="submit_remove" type="submit"><img alt="" src="{{ MEDIA_URL }}gfx/remove.png" /> Remove selected</button>
            {% else %}
                </span>
            {% endif %}
        </p>
    {% else %}
        <p class="noprint">
            Go to <a href="{% url schedule-advanced semester.year,semester.get_type_display,slug %}">advanced options</a>
            to add and remove courses.
        </p>
    {% endif %}
</form>
