{% extends "base.html" %}

{% block title %}
    List of all courses - {{ block.super }}
{% endblock %}

{% block hd %}
    <h1>All courses during {{ semester.get_type_display }} {{ semester.year }} semester</h1>
{% endblock %}

{% block bd %}
    <form action="." method="post">
        <p>
            <button type="submit"><img alt="" src="{{ MEDIA_URL }}gfx/add.png" /> Add coures to schedule</button>

            &nbsp;&nbsp;&nbsp;&nbsp; Jump to:
            {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                <a href="#{{ l }}">{{ l }}</a>
            {% endfor %}
        </p>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Course</th>
                    <th>Name</th>
                    <th>Credits</th>
                    <th colspan="2">Exam time</th>
                    <th>Exam Type</th>
                    <th colspan="2">Handout time</th>
                </tr>
            </thead>
            <tbody>
                {% for exam in exam_list %}
                    <tr>
                        {% ifchanged exam.course_id %}
                            <td{% ifchanged exam.course.name.0 %} id="{{ exam.course.name.0 }}"{% endifchanged %}>
                                <input type="checkbox" name="course_add" value="{{ exam.course.name }}" id="course_{{ exam.course_id }}" />
                            </td>
                            <td>
                                <label for="course_{{ exam.course_id }}"><b>{{ exam.course.name }}</b></label>
                            </td>
                            <td class="small">
                                <label for="course_{{ exam.course_id }}">{{ exam.course.full_name }}</label>
                            </td>
                            <td align="number">
                                {{ exam.course.points|default:""|floatformat:"1" }}
                            </td>
                        {% else %}
                            <td colspan="4"></td>
                        {% endifchanged %}
                        <td>
                            {{ exam.exam_date }}
                        </td>
                        <td>
                            {% if exam.exam_time %}
                                {{ exam.exam_time|time:"H:i" }}
                            {% endif %}
                        </td>
                        <td>
                            {% if exam.type_name %}
                                {% if exam.type %}
                                    {{ exam.type_name|lower|capfirst }} ({{ exam.type }})
                                {% else %}
                                    {{ exam.type_name|lower|capfirst }}
                                {% endif %}
                            {% else %}
                                {{ exam.type }}
                            {% endif %}
                        </td>
                        <td>
                            {% if exam.handout_date %}
                                {{ exam.handout_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if exam.handout_time %}
                                {{ exam.handout_time|time:"H:i" }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <button type="submit"><img alt="" src="{{ MEDIA_URL }}gfx/add.png" /> Add coures to schedule</button>

            &nbsp;&nbsp;&nbsp;&nbsp; Jump to:
            {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                <a href="#{{ l }}">{{ l }}</a>
            {% endfor %}
        </p>
    </form>
{% endblock %}
