{% load get %}
{% load hostname %}
{% load i18n %}
{% load tabindex %}

<form action="{% url 'change-course' semester.year semester.slug slug %}" method="post">
  <h2>{% trans "Courses" %}</h2>
  {% if courses %}
    <div class="overflow" data-toggle-container="true">
      {% if advanced %}
        <div>
          {% trans "Select" %}:
          <a data-toggle="true">{% trans "All" %}</a> -
          <a data-toggle="false">{% trans "None" %}</a>
        </div>
      {% endif %}
      <table id="courses">
        <thead>
          <tr>
            {% if advanced %}
              <th></th>
            {% endif %}
            <th>{% trans "Course" %}</th>
            <th>{% trans "Alias" %}</th>
            <th>{% trans "Description" %}</th>
            {% if SHOW_SYLLABUS %}
              <th>{% trans "Syllabus" %}</th>
            {% endif %}
            <th>{% trans "Exams" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
            {% blocktrans asvar remove_title  %}Remove {{ course.code }} {{ course.name }}{% endblocktrans %}
            <tr class="course-{{ course.id }}" title="{{ course.name }}">
              {% if advanced %}
                <td>
                  <input type="checkbox" name="course_remove" value="{{ course.id }}" class="noprint" title="{{ remove_title }}" tabindex="{{ tabindex|default:0|add:4 }}" />
                </td>
              {% endif %}
              <td>
                {% if course.url %}
                  <a href="{{ course.url }}">
                    {{ course.code }}
                  </a>
                {% else %}
                  {{ course.code }}
                {% endif %}
              </td>
              <td>
                {% if course.alias_form %}
                  {% with index=tabindex|default:0|add:5 %}
                    {{ course.alias_form.alias|tabindex:index }}
                  {% endwith %}
                {% else %}
                  {{ course.alias|default:"-" }}
                {% endif %}
              </td>
              <td>
                {{ course.name }}
              </td>
              {% if SHOW_SYLLABUS %}
                <td>
                  {% if course.syllabus %}
                    <a href="{{ course.syllabus }}">{{ course.syllabus|hostname }}</a>
                  {% else %}
                    -
                  {% endif %}
                </td>
              {% endif %}
              <td class="nowrap">
                {% for exam in exams|get:course.id %}
                  {{ exam.exam_date }}{% if not forloop.last %},{% endif %}
                {% empty %}
                  -
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}


  {% if courses and advanced %}
    <p class="noprint">
      <button name="submit_name" type="submit"><i class="icon-pencil" tabindex="{{ tabindex|default:0|add:6 }}"></i> {% trans "Update names" %}</button>
      <button name="submit_remove" type="submit" tabindex="{{ tabindex|default:0|add:6 }}"><i class="icon-remove"></i> {% trans "Remove selected" %}</button>
    </p>
  {% else %}
    <p class="noprint">
      {% url 'schedule-advanced' semester.year semester.slug slug as advanced_url %}
      {% blocktrans %}
        Go to <a href="{{ advanced_url }}#courses">advanced options</a>
        to add and remove courses.
      {% endblocktrans %}
    </p>
  {% endif %}
</form>
