{% extends "base_site.html" %}

{% load i18n %}

{% block title %}
  {% trans "List of all courses" %} - {{ block.super }}
{% endblock %}

{% block hd %}
  {{ block.super }}
  <h1>
    {% blocktrans %}All courses during {{ semester }} semester{% endblocktrans %}
  </h1>
{% endblock %}

{% block extrahead %}
  <meta name="robots" content="noindex, nofollow, noarchive" />
{% endblock %}

{% block bd %}
  {% if not course_list %}
    <div id="help">
      <p>{% trans "No courses to show for this semester. Back to <a href='..'>your</a> schedule." %}</p>
    </div>
  {% else %}
    <form action="." method="post">
      <div class="yui-g">
        <div class="yui-u first">
          <p>
            {% trans "Jump to:" %}
            {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
              <a href="#{{ l }}">{{ l }}</a>
            {% endfor %}
          </p>
        </div>
        <div class="yui-u">
          <p class="right">
            <button type="submit"><i class="icon-plus-sign"></i> {% trans "Add courses to schedule" %}</button>
          </p>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>{% trans "Course" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Credits" %}</th>
            <th colspan="2">{% trans "Exam time" %}</th>
            <th>{% trans "Exam Type" %}</th>
            <th colspan="2">{% trans "Handout time" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for id,code,name,points,exam_date,exam_time,type,type_name,handout_date,handout_time in course_list %}
            <tr>
              {% ifchanged id %}
                <td{% ifchanged code.0 %} id="{{ code.0 }}"{% endifchanged %}>
                  <input type="checkbox" name="course_add" value="{{ code }}" id="course_{{ id }}" />
                </td>
                <td>
                  <label for="course_{{ id }}"><b>{{ code }}</b></label>
                </td>
                <td class="small">
                  <label for="course_{{ id }}">{{ name }}</label>
                  {# FIXME add url to more info #}
                </td>
                <td align="right">
                  {{ points|default:""|floatformat:"1" }}
                </td>
              {% else %}
                <td colspan="4"></td>
              {% endifchanged %}
              <td style="width: 6em">
                {{ exam_date|default_if_none:"-" }}
              </td>
              <td>
                {% if exam_time %}
                  {{ exam_time|time }}
                {% endif %}
              </td>
              <td>
                {% if type_name %}
                  {% if type %}
                    {{ type_name|lower|capfirst }} ({{ type }})
                  {% else %}
                    {{ type_name|lower|capfirst }}
                  {% endif %}
                {% else %}
                  {{ type|default_if_none:"-" }}
                {% endif %}
              </td>
              <td>
                {% if handout_date %}
                  {{ handout_date }}
                {% endif %}
              </td>
              <td>
                {% if handout_time %}
                  {{ handout_time|time }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="yui-g">
        <div class="yui-u first">
          <p>
            {% trans "Jump to:" %}
            {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
              <a href="#{{ l }}">{{ l }}</a>
            {% endfor %}
          </p>
        </div>
        <div class="yui-u">
          <p class="right">
            <button type="submit"><i class="icon-plus-sign"></i> {% trans "Add courses to schedule" %}</button>
          </p>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock %}
