{% load i18n %}

{% load url from future %}

<h2>{% trans "Deadlines" %}</h2>
{% if deadlines %}
  <form method="post" action="{% url 'new-deadline' semester.year semester.type slug %}#deadlines">
    <table id="deadlines">
      <thead>
        <tr>
          {% if advanced %}
            <th style="width: 5%"></th>
          {% endif %}
          <th style="width: 18%">{% trans "Course" %}</th>
          <th style="width: 19%">{% trans "Due date" %}</th>
          <th style="width:  8%">{% trans "Time" %}</th>
          <th>{% trans "Task" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for d in deadlines %}
          <tr class="course-{{ d.subscription.course_id }} deadline-{{ d.id }}{% if d.expired %} expired{% endif %}">
            {% if advanced %}
              <td><input type="checkbox" name="deadline_remove" value="{{ d.id }}" class="noprint" /></td>
            {% endif %}
            <td>{{ d.subscription.alias|default:d.subscription.course.code }}</td>
            <td align="center">{{ d.date }}</td>
            <td align="center">{{ d.time|time }}</td>
            <td>{{ d.task }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if advanced and deadlines %}
      <p class="noprint">
        <button name="submit_remove" type="submit"><span class="icon remove">{% trans "Remove selected" %}</span></button>
      </p>
    {% endif %}
  </form>
{% endif %}
{% if courses and not advanced %}
  <p class="noprint">
    {% url 'schedule-advanced' semester.year semester.type slug as advanced_url %}
    {% blocktrans %}
      Go to <a href="{{ advanced_url }}#deadlines">advanced options</a> to add and remove deadlines.
    {% endblocktrans %}
  </p>
{% endif %}
{% if courses and advanced %}
  {% if not deadlines %}
    <p>{% trans "No deadlines to show, feel free to add some." %}</p>
  {% endif %}
{% endif %}
