{% load color %}

{% if courses and advanced %}
    <form action="{% url change-groups semester.year,semester.get_type_display,slug %}" method="post" class="noprint">
        <h2 id="groups">Change groups</h2>
        <p>
            Each lecture is connected to one or more groups, please select which
            group's lectures you want to attend. To select more than one group
            press <code>CTRL</code> and the groups you want.
        </p>
        <div id="change-groups">
            {% for course in courses %}
                    <p class="{% color course.id %} groupbox" title="{{ course.full_name }}">
                        <b>{{ course.alias|default:course }}</b> <br />
                        {% if course.full_name %}
                            <span class="small">{{ course.full_name|truncatewords:"3" }}</span>
                        {% endif %}
                        <br />
                        {% if course.group_form %}
                            {{ course.group_form.groups }}
                        {% else %}
                            <select disabled="disabled" multiple="multiple" size="5">
                                <option>No groups<option>
                            </select>
                        {% endif %}
                    </p>
                    {% cycle "" "" "<hr style='visibility: hidden; clear: both; margin: 0' />" %}
            {% endfor %}
        </div>
        <p style="clear: both">
            <button type="submit"><span class="icon save">Save groups</span></button>
        </p>
    </form>
{% endif %}
