<form action="{% url change-groups semester.year,semester.get_type_display,slug %}" method="post" class="noprint">
    <h2>Change groups</h2>
    <div class="yui-g" id="groups">
        {% for course,groups in courses %}
            <p class="{{ course.css_class }} groupbox" title="{{ course.full_name }}">
                <b>{{ course.user_name|default:course }}</b> <br />
                <span class="small">{{ course.full_name|truncatewords:"3" }}</span> <br />
                {{ groups.groups }}
            </p>
        {% endfor %}
    </div>
    <p>
        <button type="submit"><img alt="" src="{{ MEDIA_URL }}gfx/save.png" /> Save groups</button>
    </p>
</form>
