{% if courses and advanced %}
    <form method="post" action="{% url copy-deadlines semester.year,semester.get_type_display,slug %}" class="noprint">
        <h2>Import deadlines</h2>
        <p>
            If you enter the idenfiers for other timetables with the
            same course as your's, you will be given the option to
            import their deadlines.
        </p>
        <p>
            <input type="text" name="slugs" size="42" />
            <button type="submit"><span class="icon copy">Import deadlines</span></button>
        </p>
    </form>
{% endif %}
