{% load i18n %}

{% load url from future %}

{% if courses and advanced %}
  <form method="post" action="{% url 'copy-deadlines' semester.year semester.type slug %}" class="noprint">
    <h3>{% trans "Import deadlines" %}</h3>
    <p>
      {% blocktrans %}
        If you enter the idenfiers for other timetables with the
        same course as your's, you will be given the option to
        import their deadlines.
      {% endblocktrans %}
    </p>
    <p>
      <input type="text" name="slugs" size="42" />
      <button type="submit"><span class="icon copy">{% trans "Import deadlines" %}</span></button>
    </p>
  </form>
{% endif %}
