<h2>Lecture list</h2>
<form action="{% url change-lectures semester.year,semester.get_type_display,slug %}" method="post">
    <table>
        <thead>
            <tr>
                {% if advanced %}
                    <th></th>
                {% endif %}
                <th>Course</th>
                <th>Day</th>
                <th>Time</th>
                <th>Rooms</th>
                <th>Type</th>
                <th>Groups</th>
                <th>Lecturers</th>
                <th>Weeks</th>
            </tr>
        </thead>
        <tbody>
            {% for l in lectures %}
                <tr class="{{ l.css_class }}{% if l.exclude %} excluded{% endif %}">
                    {% if advanced %}
                        <td><input type="checkbox" name="exclude" value="{{ l.id }}"{% if l.exclude %} checked="checked"{% endif %} class="noprint" /></td>
                    {% endif %}
                    <td>{{ l.user_name|default:l.course }}</td>
                    <td>{{ l.get_day_display }}</td>
                    <td>{{ l.get_start_time_display }}-{{ l.get_end_time_display }}</td>
                    <td class="small">{{ l.sql_rooms|join:", " }}</td>
                    <td class="small">{{ l.type|default:"" }}</td>
                    <td class="small">{{ l.sql_groups|join:", " }}</td>
                    <td>{{ l.sql_lecturers|join:", " }}</td>
                    <td class="small">{{ l.sql_weeks|join:", " }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="noprint">
        {% if advanced %}
            <button type="submit"><img alt="" src="{{ MEDIA_URL }}gfx/hide.png" /> Hide selected lectures</button>
        {% else %}
            Go to <a href="{% url schedule-advanced semester.year,semester.get_type_display,slug %}">advanced options</a> to hide lectures.
        {% endif %}
    </p>
</form>
