{% comment %}
<div id="notice" style="background: #E6F5C9; font-size: 93%; padding: 0.5em;-webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #CCC; margin-bottom: 1em; ">
  <p style="padding: 0; margin: 0">
    Vil du drive med IT-systemer på høyt nivå med lav terskel?
    <a href="http://itk.samfundet.no/?source=timeplan">IT-komiteen</a>
    <a href="https://www-rails.samfundet.no/verv/668-it-funksjon-r?source=timeplan">søker</a> nye medlemmer!
    &nbsp;
    Er ikke data noe for deg, finn andre verv på
    <a href="https://www-rails.samfundet.no/opptak?source=timeplan">samfundet.no</a> eller
    <a href="https://www.uka.no/opptak/?source=timeplan">uka.no</a>.
  </p>
</div>
{% endcomment %}
