{% now "Y-m-d" as today %}
{% if today < "2019-08-27" %}

<div id="notice" style="background: #E6F5C9; font-size: 93%; padding: 0.5em;-webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #CCC; margin-bottom: 1em; ">
  <p style="padding: 0; margin: 0">
Vil du drive med IT-systemer på høyt nivå med lav terskel?
    <a href="https://itk.samfundet.no/opptak/?utm_source=timeplan">IT-komiteen</a>
    <a href="https://samfundet.no/verv/1200-it-funksjonaer?utm_source=timeplan">søker</a> nye medlemmer!
    &nbsp;
    Er ikke data noe for deg, finn andre verv på                                                                                                                                                  <a href="https://samfundet.no/opptak?utm_source=timeplan">samfundet.no</a> eller
    <a href="https://apps.uka.no/opptak/?utm_source=timeplan">uka.no</a>.
  </p>
</div>

{% endif %}
