{% load i18n %}
{% load icons %}

{% if courses %}
  <div class="yui-g noprint">
    <div class="yui-u first">
      <p>
        {% if advanced %}
          {% icon "advanced-options" %} <a href="{% url 'schedule' schedule.semester schedule.student.slug %}">{% trans "Hide advanced options" %}</a>
        {% else %}
          {% icon "advanced-options" %} <a href="{% url 'schedule-advanced' schedule.semester schedule.student.slug %}">{% trans "Advanced options" %}</a>
        {% endif %}
        - {% icon "help" %} <a href="#tips">{% trans "Tips" %}</a>
        - {% icon "download-pdf" %}
        {% if week %}
          <a href="{% url 'schedule-pdf-size-week' schedule.semester schedule.student.slug 'A4' week %}">A4</a>
          <a href="{% url 'schedule-pdf-size-week' schedule.semester schedule.student.slug 'A5' week %}">A5</a>
          <a href="{% url 'schedule-pdf-size-week' schedule.semester schedule.student.slug 'A6' week %}">A6</a>
          <a href="{% url 'schedule-pdf-size-week' schedule.semester schedule.student.slug 'A7' week %}">A7</a>
        {% else %}
          <a href="{% url 'schedule-pdf-size' schedule.semester schedule.student.slug 'A4' %}">A4</a>
          <a href="{% url 'schedule-pdf-size' schedule.semester schedule.student.slug 'A5' %}">A5</a>
          <a href="{% url 'schedule-pdf-size' schedule.semester schedule.student.slug 'A6' %}">A6</a>
          <a href="{% url 'schedule-pdf-size' schedule.semester schedule.student.slug 'A7' %}">A7</a>
        {% endif %}
      </p>
    </div>
    <div class="yui-u">
      <p class="right">
        {% icon "weeks" %} {% trans "Weeks:" %}
        <a href="{% url 'schedule' schedule.semester schedule.student.slug %}"
           {% if all %}class="current"{% endif %}>{% trans "All" %}</a>
        {% if not week_is_current %}
          <a href="{% url 'schedule-current' schedule.semester schedule.student.slug %}">{% trans "Current" %}</a>
        {% endif %}
        {% for w in weeks %}
          <a href="{% url 'schedule-week' schedule.semester schedule.student.slug w %}"
             {% if w == week %}class="current"{% endif %}>{{ w }}</a>
        {% endfor %}
      </p>
    </div>
  </div>
{% endif %}
