{% load get %}
{% load i18n %}
{% load nbsp %}
{% load strip %}

{% if prev_week %}
  <a href="{% url 'schedule-week' schedule.semester schedule.student.slug prev_week %}"
     id="previous"
     class="noprint">«</a>
{% endif %}
{% if next_week %}
  <a href="{% url 'schedule-week' schedule.semester schedule.student.slug next_week %}"
     id="next"
     class="noprint">»</a>
{% endif %}
<div class="overflow">
  <table id="schedule">
    <thead>
      <tr>
        <th class="time"></th>
        {% for span, date, day in timetable.header %}
          <th {% if span %}colspan="{{ span }}"{% endif %}>
            <span class="day">{{ day }}</span>
            {% if date %}<span class="date">{{ date|date:"j M." }}</span>{% endif %}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in timetable.table %}
        <tr class="{% cycle "odd" "even" %}{% if forloop.first %} first{% endif %}">
          {% for cells in row %}
            {% if cells %}
              {% for c in cells %}
                {% if not c.remove %}
                  <td {% if c.colspan > 1 %}colspan="{{ c.colspan }}"{% endif %}
                      {% if c.rowspan > 1 %}rowspan="{{ c.rowspan }}"{% endif %}
                      {% if c|get:"lecture" or c|get:"time" or c|get:"bottom" or c|get:"last" %} class="{% stripspace %} {% if c|get:"lecture" %}lecture lecture-{{ c.lecture.lecture_id }} course-{{ c.lecture.course_id }}{% endif %}
                      {% if c|get:"lecture" and c.lecture.type_optional %}optional{% endif %}
                      {% if c.rowspan == 1 %}single{% endif %}
                      {% if c|get:"last" %}last{% endif %}
                      {% if c|get:"bottom" %}bottom{% endif %}
                      {% if c|get:"time" %}time{% endif %}
                      {% endstripspace %}
                      "
                      {% endif %}
                      {% if c|get:"lecture" %}title="{{ c.lecture.course_name }} {{ c.lecture.start|time:"H:i" }}-{{ c.lecture.end|time:"H:i" }}{% if c.lecture.title %}: {{ c.lecture.title }}{% endif %}
                      "
                      {% endif %}>
                    <div class="wrapper">
                      {% if c|get:"lecture" %}
                        <div class="course">{{ c.lecture.alias|default:c.lecture.course_code }}</div>
                        <div class="room">
                          {% if c.lecture.stream %}
                            <a href="{{ c.lecture.stream }}">{% trans "Stream" %}</a>
                            {% if rooms|get:c.lecture.lecture_id %},{% endif %}
                          {% endif %}
                          {% for room in rooms|get:c.lecture.lecture_id|slice:":2" %}
                            {% if room.url %}
                              <a href="{{ room.url }}">{{ room.name }}</a>
                              {% if not forloop.last %},{% endif %}
                            {% else %}
                              {{ room.name }}
                              {% if not forloop.last %},{% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="type">
                          {% if c.lecture.title %}
                            {{ c.lecture.title }}
                          {% elif c.lecture.type_name %}
                            {{ c.lecture.type_name }}
                          {% endif %}
                        </div>
                      {% endif %}
                      {{ c|get:"time"|escape|nbsp|default:"" }}
                    </div>
                  </td>
                {% endif %}
              {% endfor %}
            {% else %}
              <td>
                <div class="wrapper"></div>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
