{% extends "base.html" %}
{% load color %}

{% block extrahead %}
    {% if courses %}
        <style type="text/css">
          {% for course in courses %}
            .course-{{ course.id }} { background-color: {% color course.id %} }
          {% endfor %}
        </style>
    {% endif %}

    <meta name="robots" content="noindex, nofollow, noarchive" />

    <script src="{{ MEDIA_URL }}js/200902021345.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function() {
        $('#course').autocomplete('{% url course-query semester.year,semester.get_type_display %}', {
          max: 100,
          minChars: 3,
          multiple: true,
          formatItem: function(row) { return row[0] + ': ' + row[1]},
          formatResult: function(row) { return row[0] },
          width: $('#course').outerWidth()
        }){% if not advanced %}.focus(){% endif %};

        function add_hidden_to_lectures() {
            var input = $(this);

            if (input.is(':checked')) {
                $('.lecture-' + input.val()).addClass('hidden');
            } else {
                $('.lecture-' + input.val()).removeClass('hidden');
            }
        };

        function add_delete_to_courses() {
            var input = $(this);

            if (input.is(':checked')) {
                $('.course-' + input.val()).addClass('delete');
            } else {
                $('.course-' + input.val()).removeClass('delete');
            }
        };

        function add_delete_to_deadlines() {
            var input = $(this);

            if (input.is(':checked')) {
                $('.deadline-' + input.val()).addClass('delete');
            } else {
                $('.deadline-' + input.val()).removeClass('delete');
            }
        }

        $('#lectures input[name=exclude]:checked').each(add_hidden_to_lectures);
        $('#lectures input[name=exclude]').click(add_hidden_to_lectures);
        $('#courses input[name=course_remove]:checked').each(add_delete_to_courses);
        $('#courses input[name=course_remove]').click(add_delete_to_courses);
        $('#deadlines input[name=deadline_remove]:checked').each(add_delete_to_deadlines);
        $('#deadlines input[name=deadline_remove]').click(add_delete_to_deadlines);

        $('#change-groups div.groupbox').each(function() {
            var div = $(this);
            var a = $('<a class="tiny">Toggle<\/a>');

            div.css('position', 'relative')
            a.css({position: 'absolute', top: 0, right: 2, cursor: 'pointer'});

            a.toggle(function() { div.find(':checkbox').removeAttr('checked'); return false; },
                     function() { div.find(':checkbox').attr('checked', 'checked'); return false; });

            div.prepend(a);
        })
      });
    </script>
{% endblock %}

{% block title %}
    {{ slug }}'{% ifnotequal slug|lower|slice:"-1:" "s" %}s{% endifnotequal %}
    {{ semester.get_type_display }}
    {{ semester.year }} schedule
    {% if week %}
        for week {{ week }}
    {% else %}
        for all weeks
    {% endif %}
{% endblock %}

{% block hd %}
    <h1>
        {{ slug }}'{% ifnotequal slug|lower|slice:"-1:" "s" %}s{% endifnotequal %}
        {{ semester.get_type_display }}
        {{ semester.year }} schedule
        {% if week %}
            for week {{ week }}
        {% else %}
            for all weeks
        {% endif %}
    </h1>
{% endblock %}

{% block bd %}
    {% if not courses %}
        <div id="help">
            {% include "add_courses.html" %}
        </div>
    {% endif %}
    {% include "schedule_message.html" %}

    {% if group_help %}
        <div id="help">
            <p>
                Use <a href="{% url schedule-advanced semester.year,semester.get_type_display,slug %}#groups">change groups</a> to limit which groups/parallels you want in your schedule.
            </p>
        </div>
    {%  endif %}

    {% include "schedule_table.html" %}
    {% include "schedule_table_footer.html" %}

    {% if courses %}
        <div class="yui-g">
            <div class="yui-u first">
                {% include "courses.html" %}
                {% include "exams.html" %}

                {% if advanced %}
                    {% include "deadlines.html" %}
                {% endif %}
            </div>
            <div class="yui-u">
                {% include "notice.html" %}
                {% if not advanced %}
                    {% include "deadlines.html" %}
                {% endif %}

                {% include "add_courses.html" %}
                {% include "groups.html" %}
                {% include "add_deadlines.html" %}
                {% include "import_deadlines.html" %}
            </div>
        </div>
    {% endif %}

    {% include "lectures.html" %}
    {% include "tips.html" %}
{% endblock %}
