{% extends "base.html" %}

{% block title %}
    {{ slug }}'{% ifnotequal slug|lower|slice:"-1:" "s" %}s{% endifnotequal %} {{ semester.get_type_display }} {{ semester.year }} {{ block.super }}
{% endblock %}

{% block hd %}
    <h1>{{ slug }}'{% ifnotequal slug|lower|slice:"-1:" "s" %}s{% endifnotequal %}  {{ semester.get_type_display }} {{ semester.year }} schedule</h1>
{% endblock %}

{% block bd %}
    {% if not courses %}
        <div id="help">
            {% include "add_courses.html" %}
        </div>
    {% endif %}

    {% if group_help and courses %}
        <div id="help" class="large">
            <p>
                Use <a href="{% url schedule-advanced semester.year,semester.get_type_display,slug %}#groups">change groups</a> to limit which groups/parallels you want in your schedule.
            </p>
        </div>
    {%  endif %}
    {% include "schedule_table.html" %}

    <p class="noprint large">
        <a href="{% url course-list semester.year,semester.get_type_display,slug %}">
            <img alt="" src="{{ MEDIA_URL }}gfx/list.png" />Course list</a>
        {% if courses %}
            {% if advanced %}
                - <a href="{% url schedule semester.year,semester.get_type_display,slug %}">
                    <img alt="" src="{{ MEDIA_URL }}gfx/advanced.png" />Hide advanced options</a>
            {% else %}
                - <a href="{% url schedule-advanced semester.year,semester.get_type_display,slug %}">
                    <img alt="" src="{{ MEDIA_URL }}gfx/advanced.png" />Advanced options</a>
            {% endif %}
        {% endif %}
        - <a href="#tips"><img alt="" src="{{ MEDIA_URL }}gfx/tips.png" />Tips</a>
        - <img alt="" src="{{ MEDIA_URL }}gfx/pdf.png"/> PDF
        <a href="{% url schedule-pdf semester.year,semester.get_type_display,slug %}?large">A4</a>,
        <a href="{% url schedule-pdf semester.year,semester.get_type_display,slug %}">A5</a>,
        <a href="{% url schedule-pdf semester.year,semester.get_type_display,slug %}?small">A6</a>,
        <a href="{% url schedule-pdf semester.year,semester.get_type_display,slug %}?tiny">A7</a>
    </p>

    {% if courses %}
        <div class="yui-g">
            <div class="yui-u first">
                {% include "courses.html" %}
                {% include "exams.html" %}
                {% if advanced %}
                    {% include "deadlines.html" %}
                {% endif %}
            </div>
            <div class="yui-u">
                {% if not advanced %}
                    {% include "deadlines.html" %}
                {% endif %}
                {% include "add_courses.html" %}
                {% if courses and advanced %}
                    {% include "groups.html" %}
                {% endif %}
                {% include "add_deadlines.html" %}
            </div>
        </div>
    {% endif %}


    {% if lectures %}
        {% include "lectures.html" %}
    {% endif %}

    {% include "tips.html" %}
{% endblock %}
