{% load i18n %}

{% load url from future %}

{% if next_message and not group_help and courses %}
  <div id="help" class="large">
    <p>
      <i class="icon-info-sign"></i>
      {% url 'schedule' next_semester.year next_semester.slug slug as next_semester_url %}
      {% blocktrans %}
        Next semesters' lectures are now available, go to
        <a href="{{ next_semester_url }}">{{ next_semester_url }}</a>
        to start adding your courses.
      {% endblocktrans %}
    </p>
  </div>
{%  endif %}
