{% extends "base_site.html" %}
{% load translation %}
{% load title %}
{% load color %}
{% load compressed %}

{% block extrastyle %}
    {% if courses %}
        <style type="text/css">
          {% for course in courses %}.course-{{ course.id }} { background-color: {% color course.id %} }
          {% endfor %}
        </style>
    {% endif %}
{% endblock %}

{% block extrahead %}
    <meta name="robots" content="noindex, nofollow, noarchive" />
{% endblock %}

{% block extrascript %}
    {% get_current_language as LANGUAGE_CODE %}
    <script type="text/javascript">
        var language = '{{ LANGUAGE_CODE }}';
        var autocomplete_url = "{% url course-query semester.year,semester.type %}";
    </script>
    {% compressed_js 'all' %}
    {{ block.super }}
{% endblock %}

{% block title %}
    {% title semester slug week %}
{% endblock %}

{% block hd %}
    <h1>
        {% title semester slug week %}
    </h1>
{% endblock %}

{% block bd %}
    {% url schedule-advanced semester.year,semester.type,slug as advanced_url %}

    {% if not courses %}
        <div id="help">
            {% include "add_courses.html" %}
        </div>
    {% endif %}

    {% include "schedule_message.html" %}
    {% include "schedule_table.html" %}
    {% include "schedule_table_footer.html" %}

    {% if courses %}
        <div class="yui-g">
            <div class="yui-u first">
                {% include "courses.html" %}
                {% if student.show_deadlines or advanced %}
                    {% include "exams.html" %}
                {% endif %}

                {% if advanced %}
                    {% if student.show_deadlines %}
                        {% include "deadlines.html" %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="yui-u">
                {% include "notice.html" %}
                {% if not advanced %}
                    {% if student.show_deadlines %}
                        {% include "deadlines.html" %}
                    {% else %}
                        {% include "exams.html" %}
                        {% include "deadlines_link.html" %}
                    {% endif %}
                {% endif %}

                {% if advanced %}
                    <h2>{% trans "Settings" %}</h2>
                {% endif %}
                {% include "add_courses.html" %}
                {% if advanced %}
                    {% include "groups_link.html" %}
                    {% include "deadlines_toggle.html" %}
                    {% if student.show_deadlines %}
                        {% include "add_deadlines.html" %}
                        {% include "import_deadlines.html" %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% include "lectures.html" %}
    {% include "tips.html" %}
{% endblock %}
