{% extends "base_site.html" %}

{% load i18n %}
{% load title %}

{% block title %}
    {% title semester slug %} {{ block.super }}
{% endblock %}

{% block hd %}
    <h1>
        {% trans "Copy deadlines to" %}
        {% title semester slug %}
    </h1>
{% endblock %}

{% block bd %}
    {% if deadlines %}
        <form method="post" action="{% url copy-deadlines semester.year,semester.type,slug %}">
            <table>
                <thead>
                    <tr>
                        <th style="width: 2%"></th>
                        <th style="width: 9%">{% trans "Course" %}</th>
                        <th style="width: 9%">{% trans "Due date" %}</th>
                        <th style="width: 6%">{% trans "Time" %}</th>
                        <th>{% trans "Task" %}</th>
                        <th>{% trans "Course name" %}</th>
                        <th>{% trans "Source" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in deadlines %}
                        <tr class="course-{{ d.userset.course_id }} deadline-{{ d.id }}">
                            <td><input type="checkbox" name="deadline_id" value="{{ d.id }}" checked="checked" /></td>
                            <td>{{ d.userset.course.code }}</td>
                            <td>{{ d.date }}</td>
                            <td>{{ d.time|time:"H:i" }}</td>
                            <td>{{ d.task }}</td>
                            <td>{{ d.userset.course.name }}</td>
                            <td>{{ d.userset.student.slug }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                <button><span class="icon copy">{% trans "Copy deadlines" %}</span></button>
            </p>
        </form>
    {% else %}
        <div id="help">
            <p>
                {% url schedule-advanced semester.year,semester.type,slug as advanced_url %}
                {% blocktrans %}
                    No deadlines found. Return to your <a href="{{ advanced_url }}">schedule</a>.
                {% endblocktrans %}
            </p>
        </div>
    {% endif %}
{% endblock %}
