{% extends "base_site.html" %}

{% block title %}
    {{ slug }}'{% ifnotequal slug|lower|slice:"-1:" "s" %}s{% endifnotequal %} {{ semester.get_type_display }} {{ semester.year }} {{ block.super }}
{% endblock %}

{% block hd %}
    <h1>Copy deadlines to {{ slug }}'{% ifnotequal slug|lower|slice:"-1:" "s" %}s{% endifnotequal %}  {{ semester.get_type_display }} {{ semester.year }} schedule</h1>
{% endblock %}

{% block bd %}
    {% if deadlines %}
        <form method="post" action="{% url copy-deadlines semester.year,semester.get_type_display,slug %}">
            <table>
                <thead>
                    <tr>
                        <th style="width: 2%"></th>
                        <th style="width: 9%">Course</th>
                        <th style="width: 9%">Due date</th>
                        <th style="width: 6%">Time</th>
                        <th>Task</th>
                        <th>Course name</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in deadlines %}
                        <tr class="course-{{ d.userset.course_id }} deadline-{{ d.id }}">
                            <td><input type="checkbox" name="deadline_id" value="{{ d.id }}" checked="checked" /></td>
                            <td>{{ d.userset.course.name }}</td>
                            <td>{{ d.date }}</td>
                            <td>{{ d.time|time:"H:i" }}</td>
                            <td>{{ d.task }}</td>
                            <td>{{ d.userset.course.full_name }}</td>
                            <td>{{ d.userset.slug }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                <button><span class="icon copy">Copy deadlines</span></button>
            </p>
        </form>
    {% else %}
        <div id="help">
            <p>
                No deadlines found. Return to your <a href="{% url schedule semester.year,semester.get_type_display,slug %}">schedule</a>.
            </p>
        </div>
    {% endif %}
{% endblock %}
