{% extends "base_site.html" %}

{% load color %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
  {% compress css inline %}
    {% if courses %}
      <style type="text/css">
        {% for course in courses %}
        .course-{{ course.id }} {
          background-color: {% color course.id %};
        }
        {% endfor %}
      </style>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/select_groups.css' %}" />
  {% endcompress %}
{% endblock %}

{% block extrascript %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'js/toggle.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block title %}
  {% trans "Select groups for your courses" %}
{% endblock %}

{% block hd %}
  <h1>
    {% trans "Select groups for your courses" %}
  </h1>
{% endblock %}

{% block bd %}
  {% include "groups.html" %}
{% endblock %}
