{% extends "base_site.html" %}

{% load translation %}
{% load color %}
{% load compressed %}

{% block extrastyle %}
    {% if courses %}
        <style type="text/css">
          {% for course in courses %}
            .course-{{ course.id }} { background-color: {% color course.id %} }
          {% endfor %}
        </style>
    {% endif %}
{% endblock %}

{% block extrascript %}
    {% compressed_js 'all' %}
    {{ block.super }}
{% endblock %}

{% block title %}
    {% trans "Select groups for your courses" %}
{% endblock %}

{% block hd %}
    <h1>
        {% trans "Select groups for your courses" %}
    </h1>
{% endblock %}

{% block bd %}
    {% include "groups.html" %}
{% endblock %}
