{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<form id="setlang" action="{% url django.views.i18n.set_language %}" method="post">
    {% if request %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    {% endif %}
    <p>
        {% for code, name in LANGUAGES %}
            {% ifnotequal LANGUAGE_CODE code %}
            <button type="submit" class="link" name="language" value="{{ code }}">
                Switch language to: {# Not translated on purpose #}
                <img alt="{% trans name %}" title="{% trans name %}" src="{{ MEDIA_URL }}gfx/{{ code }}.png" />
            </button>
            {% endifnotequal %}
        {% endfor %}
    </p>
</form>
