{% extends "base_site.html" %}

{% load color %}
{% load compress %}
{% load i18n %}
{% load nonce %}
{% load static %}
{% load strip %}

{% block hd %}
  {{ block.super }}
  <h1>
    {% blocktrans with INSTITUTION as institution %}
      Timetable generator for {{ institution }} students
    {% endblocktrans %}
  </h1>
{% endblock %}

{% block extrascript %}
  {% nonce CSP_NONCE %}
    {% compress js inline %}
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
          var s = document.getElementById('s'),
              f = document.getElementById('f'),
              l = window.localStorage;
          s.focus();
          if (l) {
            s.value = l.getItem('last');
            f.onsubmit = function() {
              l.setItem('last', s.value);
            }
          }
        }, false);
      </script>
    {% endcompress %}
  {% endnonce %}
{% endblock %}

{% block extrastyle %}
  {% nonce CSP_NONCE %}
    {% compress css inline %}
      {% if stats %}
        <style type="text/css">
          {% for count,course_id,code,name in stats %}
            .course-{{ course_id }} {
              background-color: {% color course_id %};
              width: {% widthratio count stats.0.0 95 %}%;
            }
          {% endfor %}
        </style>
      {% endif %}
      <link rel="stylesheet" href="{% static 'css/start.css' %}" />
    {% endcompress %}
  {% endnonce %}
{% endblock %}

{% block bd %}
  <div class="yui-g">
    <div class="yui-u first">
      <h2>{% trans "Getting started" %}</h2>
      {% if next_semester %}
        {% url 'semester' next_semester.year next_semester.slug as next_semester_url %}
        <p class="large">
          <i class="icon-info-sign"></i>
          {% blocktrans with url=next_semester_url %}
            A new semester is available, <a href="{{ url }}">click here</a> to get started.
          {% endblocktrans %}
        </p>
      {% endif %}
      <div id="help">
        <form action="." method="post" id="f">
          <label class="large" for="s">
            {% blocktrans %}
              Please enter a short name identifying your personal
              timetable, ie. username, nickname etc. If the name
              you select is in already taken, choose another
              one.
            {% endblocktrans %}
          </label>
          <p class="right">
            {{ schedule_form.semester }}
            {{ schedule_form.slug }}
            <button type="submit">{% trans "Start" %} <i class="icon-arrow-right"></i></button>
          </p>
        </form>
      </div>
      <p>
        {% blocktrans %}
          To retrieve your timetable simply enter the same identifier
          you used last time.
        {% endblocktrans %}
      </p>
      {% include "notice.html" %}
      {% include "statistics.html" %}
    </div>
    <div class="yui-u">
      <h2>
        {% blocktrans %}
          Top {{ limit }} courses {{ current }}
        {% endblocktrans %}
      </h2>
      {% if stats %}
        <div id="stats">
          {% for count,course_id,code,name in stats %}
            <div title="{{ name }}" class="course-{{ course_id }}">
              <span>{{ count }}</span>
              {{ code }}
            </div>
          {% endfor %}
        </div>
      {% else %}
        {% trans "No courses have been added to any schedules yet." %}
      {% endif %}
    </div>
  </div>
  <div data-calendar="{% url 'api' %}"></div>
{% endblock %}
