{% extends "base_site.html" %}
{% load color %}
{% load strip %}

{% block hd %}
    <h1>Timetable generator for NTNU students</h1>
{% endblock %}

{% block onload %}onload="{% stripspace %}
    var s = document.getElementById('s');

    if (s) {
        s.focus();

        if (document.cookie) {
            var last = document.cookie.match(/last=([a-z0-9_-]+)/);

            if (s.value)
                return;

            if (last)
                s.value = last[1];
        }
    }
{% endstripspace %}"{% endblock %}

{% block extrastyle %}
    {% if stats %}
        <style type="text/css">
            {% for count,course_id,name,full_name in stats %}
                .course-{{ course_id }} { background-color: {% color course_id %} }
            {% endfor %}
        </style>
    {% endif %}
{% endblock %}

{% block bd %}
    {% if missing %}
        <div id="help" class="large">
            <p>
                Sorry, no semesters have been loaded yet.
            </p>
        </div>
    {% else %}
        <div class="yui-g">
            <div class="yui-u first">
                <h2>Getting started</h2>
                <div id="help">
                    <form action="{% url frontpage %}" method="post">
                        <p class="large">
                            Please enter a short name identifying your personal
                            timetable, ie. username, nickname etc. If the name
                            you select is in already taken, choose another
                            one.
                        </p>
                        <p class="right">
                            {{ schedule_form.semester }}
                            {{ schedule_form.slug }}
                            <button type="submit"><span class="icon start">Start</span></button>
                        </p>
                    </form>
                </div>
                <p>
                    To retrieve your timetable simply enter the same identifier
                    you used last time.
                </p>
                {% include "notice.html" %}
                {% include "statistics.html" %}
            </div>
            <div class="yui-u">
                <h2>Top {{ limit }} courses {{ current }}</h2>
                {% if stats %}
                    <div id="stats">
                        {% for count,course_id,name,full_name in stats %}
                            <div title="{{ full_name }}" style="width: {% widthratio count stats.0.0 95 %}%" class="course-{{ course_id }}">
                                <span>{{ count }}</span>
                                {{ name }}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    No coures have been added to any schedules yet.
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
