{% load i18n %}
<h2>
    {% blocktrans %}
        Statistics {{ current }}
    {% endblocktrans %}
</h2>
<table class="small" id="munin">
    <tr>
        <td>{% trans "Total number of unique timetables" %}</td>
        <td align="right"><a href="http://munin.1024.no/1024.no/1024.no-ntnu_1024_no_schedules.html">{{ slug_count }}</a></td>
    </tr>
    <tr>
        <td>{% trans "Total number of unique courses added" %}</td>
        <td align="right"><a href="http://munin.1024.no/1024.no/1024.no-ntnu_1024_no_courses.html">{{ course_count }}</a></td>
    </tr>
    <tr>
        <td>{% trans "Total number of deadlines" %}</td>
        <td align="right"><a href="http://munin.1024.no/1024.no/1024.no-ntnu_1024_no_deadlines.html">{{ deadline_count }}</a></td>
    </tr>
</table>
